body {
	position: relative;
	background-color: #5fbdce;
	background-size : 100% auto;
	background-image:url('forest.png');
}

#login_container {
	position: absolute;
	left: 25%;
	top: 150px;
	background-color: white;
	padding: 50px;
	text-align: center;
	font-size: 16pt;
	font-family: 'Amatic SC';

	border:2px  white solid;
	border-radius:25px;
	opacity: 0.7;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}


#login_container:hover {
	opacity: 0.9;
}

#application_container {
	display: none;
}

.header {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20pt;
	font-family: 'Amatic SC';
}

h1 {
	color: #ff7c00;
	text-align: center;
	padding: 10px;
	margin: 0px;
}

h3 {
	color: #ff7c00;
	text-align: center;
	padding: 10px;
	margin: -20px 0 0 0;
	font-style: italic;
}

video {
	width: 500px;
	display: inline-block;
}


video {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: white;
}

#masterContainer {
	position: relative;
}

#animation_you_div img, #animation_me_div img, .avatar {
	width: 120px;
	height: 180px;
}

.flip {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: fliph; /*IE*/
	filter: fliph; /*IE*/
}

#localContainer {
	position: absolute;
	left: 500px;
}

#remoteContainer {
	position: absolute;
	left: 0px;
}

#animationContainer {
	position: absolute;
	/*top: 300px;*/
	height: 700px;
	width: 1000px;
	/*border:3px white dotted;*/
}

#buttonContainer {
/*	position: absolute;
	top: 400px;
	left: 750px;*/
	border:10px  white solid;
	background-color: white;
	border-radius:25px;
	opacity: 0.75;
	display:inline-block;
}

#animation_me_div {
	/*overflow: auto;*/
	max-height: 250px;
	position: absolute;
	top: 300px;
	left: 920px;
	z-index: 999;
	transition: left 1.5s ease-in, top 1.5s ease-in;
}

#animation_you_div {
	width: 120px;
	height: 180px;
	position: absolute;
	top: 300px;
	left: 0px;
	z-index: 1;
	transition: left 1.5s ease-in, top 1.5s ease-in;
}