
body {
	position: relative;
	background-color: #5fbdce;
	background-size : 100% auto;
	background-image:url('forest.png');
}

.header {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20pt;
	font-family: 'Amatic SC';
}

h1 {
	color: #ff7c00;
	text-align: center;
	padding: 10px;
	margin: 0px;
}

h3 {
	color: #ff7c00;
	text-align: center;
	padding: 10px;
	margin: -20px 0 0 0;
	font-style: italic;
}

video {
	width: 500px;
	display: inline-block;
}


video {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: white;
}

#masterContainer {
	position: relative;
}

#animation_you_div img, #animation_me_div img, .avatar {
	width: 120px;
	height: 180px;
}

.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

#localContainer {
	position: absolute;
	left: 500px;
}

#remoteContainer {
	position: absolute;
	left: 0px;
}

#animationContainer {
	position: absolute;
	top: 300px;
/*	height: 70px;*/
	width: 1000px;
}

#buttonContainer {
	position: absolute;
	top: 400px;
	left: 750px;
}

#animation_me_div {
	width: 120px;
	height: 180px;
	position: absolute;
	left: 920px;
}

#animation_you_div {
	width: 120px;
	height: 180px;
	position: absolute;
	left: 0px;
}