
body {
	position: relative;
}

video {
	width: 500px;
	display: inline-block;
}

.avatar img, .avatar {
	width: 80px;
}

#localContainer {
	position: absolute;
	left: 500px;

}

#remoteContainer {
	position: absolute;
	left: 0px;
}

#animationContainer {
	position: absolute;
	top: 300px;
	height: 70px;
	width: 1000px;
}

#buttonContainer {
	position: absolute;
	top: 400px;
	left: 750px;
}

#animation_me_div {
	width: 80px;
	position: absolute;
	left: 1000px;
}

#animation_you_div {
	width: 80px;
	position: absolute;
	left: 0px;
}